/* CONFIGURAÇÕES GERAIS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

section {
    text-align: center;
    min-height: 100vh;
}

h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

/* CONFIGURAÇÕES DA PRIMEIRA SECTION (WELCOME) */

.welcome {
    width: 100%;
    background: url('1014.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 0;
}

.welcome h1 {
    margin: auto;
    font-size: 3em;
    max-width: 900px;
}

.welcome p {
    width: 90%;
    margin: auto;
}

@media (max-width: 430px) {
    .welcome h1 {
        font-size: 32px;
    }
}

.welcome form {
    margin: 40px 0;
}

.inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inputs input {
    height: 2.5rem;
    border: none;
}

#email {
    width: 300px;
    padding: 0 10px;
}

#submit, button {
    width: 150px;
    background-color: blue;
    color: white;
}

.social-midia{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social-midia div {
    margin: 0 10px;
}

/* CONFIGURAÇÕES DA SEGUNDA SECTION (OUR WORK) */

.our-work {
    padding: 60px 0;
}

.our-work p{
    line-height: 28px;
}

.imgs-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

img {
    width: 100%;
}

.img {
    padding: 0 10px;
    max-width: 400px;
    opacity: 0;
    transition: 2s .1s;
}

.img1 {
    transform: translateX(100%); 
    margin-top: 55px;
}

.img2 {
    transform: translateX(-100%);
}

[data-anima].transition {
    opacity: 1;
    transform: translateX(0);
}


.our-work button{
    height: 50px;
    margin-top: 50px;
}

/* CONFIGURAÇÕES DA TERCEIRA SECTION */
.process {
    background-color: #eaeaea;
    padding: 1rem 0;
}

#process-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#process-div div {
    width: 30%;
    text-align: justify;
    height: 250px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width: 654px) {
    #process-div div {
        width: 90%;
    }
}

.div-blue {
    background-color: blue;
    color: white;
}

.div-white {
    background-color: white;
}

i.fas {
    font-size: 40px;
}