@charset "UTF-8";

 body{
      background-color: black;
      font-size: 25px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      }
h2{
  color: crimson;
  }
h3{
  color:  darkblue;
  }
p{
  text-align: justify;
  color: greenyellow;
  }
h1{
  color: purple;
}